// .footer {
    /* position: fixed;      */
//          position: absolute;
//          text-align: center;    
//          bottom: 0px; 
//          width: 100%;
//   }
//   .footer p {

//     margin-bottom: 28px;
//     padding: 0;
//   }
//   .footer-by {
//     font-size: .9em;
//     margin: 60px 0 50px 0;
//     color: #7e8890;
//   }