@import "../../styles/variables.scss";

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $ubuntu-font;
    color: $text;
    height: 200vh;
}

main {
    // height: calc(100vh - #{$header-height});
    height: calc(100vh - #{$header-height});
    display: flex;
    justify-content: center;
    align-items: center;

    .intro {
        font-size: 38px;
        text-align: center;
        font-weight: 700;
        color: $text2;
        padding: $spacing-md $spacing-lg;
        background: $bg2;
        border-radius: $spacing-sm;
        box-shadow: 0 0 10px $primary;
        margin: 0 $spacing-md;

        margin-top: -$header-height;

        &__focus {
            color: $primary;
        }

        @include breakpoint(md) {
            font-size: 42px;
        }
    }
}

button {
    // reset to default
    font-family: inherit;
    outline: none;
    border: none;
    background: none;
    letter-spacing: inherit;
    color: inherit;
    font-size: inherit;
    text-align: inherit;
    padding: 0;
}

// .content {
//     overflow: hidden;
//     color: #fff;
//     margin: 0 auto;
//     max-width: 1920px;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     position: absolute;
//     z-index: 100;

    .footer {
    //   position: fixed; 
             position: absolute;
             text-align: center;    
             bottom: 0px; 
             width: 100%;
      }
      .footer p {
        
        margin-bottom: 28px;
        padding: 0;
      }
      .footer-by {
        font-size: .9em;
        margin: 60px 0 50px 0;
        color: #1e73b9;
      }
// }